* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(0,0,0,255);
}

/*--------------------------------NAV--------------------------------*/

header{
  height: 100%;
  width: 100%;
  align-items: center;
}

.nav{
    display: flex;
    justify-content: flex-end;
}

.nav ul{
    gap: 2rem;
}

.logo-nav img {
    width: 200px;
    height: 70px;
  }



/*--------------------------------MAIN GET CHARACTER--------------------------------*/

.mid-title-container{
   width: 100%;
   height: 350px;
}

.mid-main-title-container{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    display: flex;
}

.main-title-img{
    width: 100%;
    height: 100%;
    font-size: 10rem;
}

.movies-container{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movies-container div{
    margin: 20px
}

.movies-container img {
    border-radius: 8px;
    width: 375px;
    height: 400px;
}

/*-------- search --------*/

.search-movie{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.search-movie-input{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.input-search{
    background-color: white;
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
}

.pager{
    margin: 50px;
    height: 30px;
    display: flex;
    justify-content: center; 
    gap: 3rem;
}

/*-------- button search --------*/

.button-search-btn{
    width: 3%;
    height: 40px;
    border: none;
}

.img-search-button{
    color: white;
    width: 100%;
    font-size: 30px;
}

.gallery {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 50px
}

.gallery img {   
    border-radius: 8px;
    width: 375px;
    height: 400px;
}

.img-container-gallery{
    width: auto; 
}

.img-container-gallery:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.name-container-gallery{
    background-color: rgba(241,230,185,255);
    color: black;
    margin-top: 5px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

/*-------- button Prev&Next --------*/
.button-prev-pager-container{
    width: 70px;
}

.button-next-pager-container{
    width: 70px;
}

.button-pager{
    color: black;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(241,230,185,255);
}

.button-pager:hover{
    background-color: black;
    color: white;
}


/* --------------------------------character.html--------------------------- */
.character-container{
    background-image: url(../img/Harry-potter-vs-voldemort.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
}

.character-first{
    background-color: rgba(188, 50, 50,0);
    width: 30%;
    height: 100%;
}

.button-back-container{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 10%;
}

.button-back{
    background-color: rgba(241,230,185,255);
    width: 20%;
    height: 30%;
    margin: 20px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    color: #312823;
    cursor: pointer;
}

.character-info-container{
    background-color: rgba(241,230,185,255);
    width: 40%;
    height: 100%;
    border-radius: 8px;
}

.character-name-container{
    background-color: rgba(241,230,185,255);
    width: 100%;
    height: 7%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    align-items: center;
}

.character-name-container h1{
    background-color: #312823;
    color: rgba(251,245,232,255);
    margin: 3px;
    width: 100%;
    height: 90%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
    font-size: 40px;
    
    
}

.character-img-container{
    background-color: rgba(241,230,185,255);
    width: 100%;
    height: 40%;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.character-img-container img{
    padding: 3px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.character-data-container{
    background-color: rgba(241,230,185,255);
    width: 100%;
    height: 53%;
    padding: 3px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;

}

.character-data-container table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 80%;
    height: 100%;   
}

.character-data-container td {
    background-color: rgba(241,230,185,255);
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 20px;
}

.character-second{
    background-color: rgb(0, 0, 0, 0);
    width: 30%;
    height: 100vh;
}